/* body {
  background-color: rgba(0, 0, 0, 0.9);
} */

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}


.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  
  .opacity-50 { opacity: .5; }
  .opacity-75 { opacity: .75; }
  
  .list-group {
    width: auto;
    max-width: 360px;
    margin: 2rem auto;
  }
  
  .form-check-input:checked + .form-checked-content {
    opacity: .5;
  }
  
  .form-check-input-placeholder {
    pointer-events: none;
    border-style: dashed;
  }
  [contenteditable]:focus {
    outline: 0;
  }
  
  .list-group-checkable {
    display: grid;
    gap: .5rem;
    border: 0;
  }
  .list-group-checkable .list-group-item {
    cursor: pointer;
    border-radius: .5rem;
  }
  .list-group-item-check {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    pointer-events: none;
  }
  .list-group-item-check:hover + .list-group-item {
    background-color: var(--bs-light);
  }
  .list-group-item-check:checked + .list-group-item {
    color: #fff;
    background-color: var(--bs-blue);
  }
  .list-group-item-check[disabled] + .list-group-item,
  .list-group-item-check:disabled + .list-group-item {
    pointer-events: none;
    filter: none;
    opacity: .5;
  }

  .dot {
    height: 25px;
    width: 25px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }


/*----------------*/

.cal-month,
.cal-days,
.cal-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  align-items: center;
}
.cal-month-name {
  grid-column-start: 2;
  grid-column-end: 7;
  text-align: center;
}
.cal-weekday,
.cal-btn {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  height: 3rem;
  padding: 0;
}
.cal-btn:not([disabled]) {
  font-weight: 500;
}
.cal-btn:hover,
.cal-btn:focus {
  background-color: rgba(0, 0, 0, .05);
}
.cal-btn[disabled] {
  opacity: .5;
}

/*-----------------------------*/
.dark-mode {
  background-color: #1F1F21;
  color: white;
}

.dark{
  background-color: #1F1F21;
}

/* ------------------------------ */
.offcanvas-bottom {
  height: 40%;
}


/*-------------------------*/
.dropdown-menu {
  position: static;
  display: block;
  width: auto;
  /* margin: 4rem auto; */
}

.dropdown-menu-macos {
  display: grid;
  /* gap: .25rem; */
  padding: .5rem;
  border-radius: .5rem;
}
.dropdown-menu-macos .dropdown-item {
  border-radius: .25rem;
}

.dropdown-item {
  padding: 0;
}

textarea {
  resize: none;
}
